@use "../variables/_variables" as *;

.advantages {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    background-color: $color-white;
}

.advantages__title {
    display: flex;
    padding: 0px 50px;
    color: $color-black;
    font-size: $h1-desktop-font-size;
    line-height: $h1-desktop-line-height;
    font-weight: $h1-desktop-font-weight;
}

.advantages__items {
    display: grid;
    padding: 20px 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
    @include panelsOnWhite;
    border-radius: 24px;
}

.advantages__header {
    display: flex;
    align-items: center;
    gap: 0.4em;
    background: rgba(255, 255, 255, 0.5);
}

.advantages__subtitle {
    color: $color-black;
    font-size: $h3-desktop-font-size;
    line-height: $h3-desktop-line-height;
    font-weight: $h3-desktop-font-weight;
}

.advantages__text {
    color: $color-gray;
    font-size: $body-desktop-font-size;
    line-height: $body-desktop-line-height;
    font-weight: $body-desktop-font-weight;
}

@media (max-width: 768px){
    .advantages__items{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 375px){
    .advantages {
        padding: 1.5em 1.3em;
    }

    .advantages__title {
        padding:  1em 0;
    }

    .advantages__items {
        padding: 0;
    }

    .advantages__title {
        font-size: $h3-mobile-font-size;
        line-height: $h3-mobile-line-height;
        font-weight: $h3-mobile-font-weight;
    }

    .advantages__subtitle {
        font-size: $h3-mobile-font-size;
        line-height: $h3-mobile-line-height;
        font-weight: $h3-mobile-font-weight;
    }

    .advantages__text {
        font-size: $body-mobile-font-size;
        line-height: $body-mobile-line-height;
        font-weight: $body-mobile-font-weight;
    }
}