@use "../variables/_variables" as *;

.hero-section {
    overflow: hidden;
    position: relative;
}

.hero-section__content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 1rem 2.5rem;
}

.hero-section__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
}

.hero-section__title {
    max-width: 650px;
    color: $color-black;
    @include text-style(h1-desk);
}

.hero-section__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-section__inputs {
    display: flex;
    padding: 1rem;
    gap: 6rem;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.4s ease;
    
    &:hover {
        box-shadow: 0 24px 24px 0 rgba(80, 93, 236, 0.25);
    }
    &:focus-within {
        box-shadow: 0 24px 24px 0 rgba(80, 93, 236, 0.25);
    }
}

.hero-section__input {
    outline: none;
    border: none;
    background: none;
    color: $color-gray;
    @include text-style(body-desk);
    transition: color 0.4s ease;

    &:hover::placeholder {
        color: $color-hover-blue;
    }

    &:focus{
        color: $color-hover-blue;
    }

    &:focus::placeholder {
        color: $color-hover-blue;
    }
}

.hero-section__button {
    color: $color-blue;
    background-color: $color-white;
}

.hero-section__button:hover {
    box-shadow: 0 24px 24px 0 rgba(80, 93, 236, 0.25);
    color: $color-hover-blue;
}

.hero-section__button:active {
    box-shadow: 0 8px 24px 0 rgba(60, 73, 221, 0.1);
    color: $color-inactive-blue;
}

.hero-section__privacy {
    color: #595959;
    @include text-style(discription-desk);
}

.hero-section__privacy-link {
    color: $color-hover-blue;
    @include text-style(discription-desk);
}

.hero-section__scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: $color-white;
    @include text-style(table-text-desk);
    text-decoration: none;

    &-image {
        width: 24px;
        height: 32px;
        background: url("../../../images/svg/Wheeldown.svg") no-repeat center;
        background-size: cover; 
    }
    &-text {
        color: $color-white;
    }
    &:hover {
        .hero-section__scroll-text {
            color: $color-hover-blue;
        }
        .hero-section__scroll-image {
            background: url("../../../images/svg/Wheeldown-hover.svg")no-repeat center;
        }
    }
}

.hero-section__backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-section__backgrounds {
  position: absolute;
  animation: float 15s ease-out infinite;
  filter: blur(240px);
}

.hero-section__backgrounds--blue {
  top: 30%;
  right: 10%;
  width: 30%;
  height: auto;
}

.hero-section__backgrounds--white {
  top: 10%;
  left: 5%;
  width: 40%;
  height: auto;
}

.hero-section__backgrounds--purple {
  top: 50%;
  left: 70%;
  width: 25%;
  height: auto;
  z-index: 1;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(80%, -60%) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}


@media (max-width: 1000px){
    .hero-section__content{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}

@media (max-width: 768px){
    .hero-section__inputs {
        gap: 0;
    }

    .hero-section__scroll{
        display: none;
    }

    .hero-section::after {
        max-width: 768px;
        background: url('/images/svg/mobile768-bg/background-hero-mobile.svg')no-repeat center;
    }
}

@media (max-width: 620px){
    .hero-section__title {
        @include text-style(h1-mob);
    }
}

@media (max-width: 440px){
    .hero-section__input {
        @include text-style(body-mob);
    }

    .hero-section__privacy {
        @include text-style(discription-mob);
    }

    .hero-section__privacy-link {
        @include text-style(discription-mob);
    }

    .hero-section__scroll {
        @include text-style(table-text-mob);
    }

    .hero-section::after {
        max-width: 375px;
        background: url('/images/svg/mobile375-bg/background-hero-mobile.svg')no-repeat center;
    }
}