@use "../variables/_variables" as *;

.advantages {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    background-color: $color-white;
}

.advantages__title {
    display: flex;
    padding: 0px 2.5rem;
    color: $color-black;
    @include text-style(h1-desk);
}

.advantages__items {
    display: grid;
    padding: 1rem 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    @extend panelsOnWhite;
    border-radius: 24px;
}

.advantages__header {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background: rgba(255, 255, 255, 0.5);
}

.advantages__subtitle {
    color: $color-black;
    @include text-style(h3-desk);
}

.advantages__text {
    color: $color-gray;
    @include text-style(body-desk);
}

@media (max-width: 768px){
    .advantages__items{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 500px){
    .advantages__title {
        @include text-style(h3-mob);
    }

    .advantages__subtitle {
        @include text-style(h3-mob);
    }

    .advantages__text {
        @include text-style(body-mob);
    }
}