@use "../variables/_variables" as *;

.tarif {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    background-color: $color-white;
}

.tarif__title {
    display: flex;
    padding: 20px 50px;
    color: $color-black;
    font-size: $h1-desktop-font-size;
    line-height: $h1-desktop-line-height;
    font-weight: $h1-desktop-font-weight;
}

.tarif__items {
    display: grid;
    padding: 20px 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.tarif__item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
    @include panelsOnWhite;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.5);
}

.tarif__header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: $h3-desktop-font-size;
    line-height: $h3-desktop-line-height;
    font-weight: $h3-desktop-font-weight;
}

.tarif__name {
    color: $color-black;
}

.tarif__price {
    color: $color-gray;
}

.tarif__price-num {
    color: $color-blue;
}

.tarif__features {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tarif__wrapper {
    display: flex;
    gap: 1em;
}

.tarif__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;  
    border-radius: 16px;
    fill: rgba(255, 255, 255, 0.5);
}

.tarif__text {
    color: $color-gray;
    font-size: $body-desktop-font-size;
    line-height: $body-desktop-line-height;
    font-weight: $body-desktop-font-weight;
}

.tarif__button {
    color: $color-blue;
    background: $color-white;
}


@media (max-width: 768px){
    .tarif__items{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 375px){
    .tarif__items{
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
    
    .tarif {
        padding: 1.5em 1.3em;
    }

    .tarif__title {
        padding: 0;
        font-size: $h3-mobile-font-size;
        line-height: $h3-mobile-line-height;
        font-weight: $h3-mobile-font-weight;
    }

    .tarif__header {
        font-size: $h3-mobile-font-size;
        line-height: $h3-mobile-line-height;
        font-weight: $h3-mobile-font-weight;
    }

    .tarif__text {
    font-size: $body-mobile-font-size;
    line-height: $body-mobile-line-height;
    font-weight: $body-mobile-font-weight;
}
}