@use "../variables/_variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: $color-white;
  border-radius: 24px 24px 0 0;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1em;
  color: $color-blue;
  font-size: $headline-desktop-font-size;
  line-height: $headline-desktop-line-height;
  font-weight: $headline-desktop-font-weight;
}

.header__burger {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  list-style: none;
}

.header__menu-link {
  text-decoration: none;
  color: $color-gray;
  font-size: $body-desktop-font-size;
  line-height: $body-desktop-line-height;
  font-weight: $body-desktop-font-weight;
}

.header__actions {
  display: flex;
  gap: 1em;
}

.header__lang-switch {
  display: flex;
  align-items: center;
  gap: 0.2em;
  color: $color-gray;
  font-size: $body-desktop-font-size;
  line-height: $body-desktop-line-height;
  font-weight: $body-desktop-font-weight;
}

.header__lang-ru {
  color: $color-blue;
  font-size: $headline-desktop-font-size;
  line-height: $headline-desktop-line-height;
  font-weight: $headline-desktop-font-weight;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background-color: $color-blue;
}

.header__button-image {
  display: none;
}

@media (max-width: 768px){
  .header__burger {
    display: block;
  }
  
  .header__menu {
    display: none;
  }

  .header__lang-switch {
    display: none;
  }
}

@media (max-width: 375px){
  .header {
    padding: 1.5em 1.3em;
  }

  .header__button-image {
  display: block;
  }

  .header__button-text {
    display: none;
  }

  .header__logo {
    font-size: $headline-mobile-font-size;
    line-height: $headline-mobile-line-height;
    font-weight: $headline-mobile-font-weight;
  }

  .header__menu-link {
    font-size: $body-mobile-font-size;
    line-height: $body-mobile-line-height;
    font-weight: $body-mobile-font-weight;
  }

  .header__lang-switch {
    font-size: $body-mobile-font-size;
    line-height: $body-mobile-line-height;
    font-weight: $body-mobile-font-weight;
  }

  .header__lang-ru {
    font-size: $headline-mobile-font-size;
    line-height: $headline-mobile-line-height;
    font-weight: $headline-mobile-font-weight;
  }
}