@use "../variables/_variables" as *;

.feedback {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 200px 40px 50px;
    gap: 6em;
    background: $color-white;
}

.feedback__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.feedback__title {
    color: $color-black;
    font-size: $h2-desktop-font-size;
    line-height: $h2-desktop-line-height;
    font-weight: $h2-desktop-font-weight;
}

.feedback__text {
    color: $color-gray;
    font-size: $body-desktop-font-size;
    line-height: $body-desktop-line-height;
    font-weight: $body-desktop-font-weight;
}

.feedback__inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.feedback__input {
    padding: 15px;
    border-radius: 16px;
    outline: none;
    border: none;
    background: $color-background;
    color: $color-gray;
    font-family: 'Visuelt Pro', sans-serif;
    font-size: $body-desktop-font-size;
    line-height: $body-desktop-line-height;
    font-weight: $body-desktop-font-weight;
}

.feedback__actions {
    display: flex;
    align-items: center;
    padding-top: 1em;
    gap: 2em;
}

.feedback__button {
    color: $color-white;
    background: $color-blue;
}

.feedback__privacy {
    color: #595959;
    font-size: $discription-desktop-font-size;
    line-height: $discription-desktop-line-height;
    font-weight: $discription-desktop-font-weight;
}

.feedback__privacy-link {
    color: $color-hover-blue;
    font-size: $discription-desktop-font-size;
    line-height: $discription-desktop-line-height;
    font-weight: $discription-desktop-font-weight;
}

@media (max-width: 768px){
    .feedback{
        grid-template-columns: repeat(1, 1fr);
        padding: 80px 50px;
    }

    .feedback__image {
        display: none;
    }
}

@media (max-width: 768px){
    .feedback{
        padding: 1.5em 1.3em;
    }

    .feedback__title {
        font-size: $h3-mobile-font-size;
        line-height: $h3-mobile-line-height;
        font-weight: $h3-mobile-font-weight;
    }

    .feedback__text {
        font-size: $body-mobile-font-size;
        line-height: $body-mobile-line-height;
        font-weight: $body-mobile-font-weight;
    }

    .feedback__input {
        font-size: $body-mobile-font-size;
        line-height: $body-mobile-line-height;
        font-weight: $body-mobile-font-weight;
    }

    .feedback__privacy {
        font-size: $discription-mobile-font-size;
        line-height: $discription-mobile-line-height;
        font-weight: $discription-mobile-font-weight;
    }

    .feedback__privacy-link {
        font-size: $discription-mobile-font-size;
        line-height: $discription-mobile-line-height;
        font-weight: $discription-mobile-font-weight;
    }

    .feedback__actions {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
}