@use "./blocks/variables/variables" as *;
@use "./blocks/header/header.scss";
@use "./blocks/hero-section/hero-section.scss";
@use "./blocks/advantages/advantages.scss";
@use "./blocks/how-works/how-works.scss";
@use "./blocks/tarif/tarif.scss";
@use "./blocks/reviews/reviews.scss";
@use "./blocks/sale/sale.scss";
@use "./blocks/faq/faq.scss";
@use "./blocks/feedback/feedback.scss";
@use "./blocks/footer/footer.scss";
@use "./fonts/fonts.scss";

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Visuelt Pro', sans-serif;
  padding: 0.5em;
  background-color: $color-background;
}

.main-button {
  font-family: 'Visuelt Pro', sans-serif;
  padding: 1em 1.5em;
  border-radius: 16px;
  border: none;
  font-size: $span-desktop-font-size;
  line-height: $span-desktop-line-height;
  font-weight: $span-desktop-font-weight;
}

@media (max-width: 375px){
  .header__button {
    border-radius: 75px;
  }
  .main-button {
    font-size: $span-mobile-font-size;
    line-height: $span-mobile-line-height;
    font-weight: $span-mobile-font-weight;
  }
}